<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nationalmerchantsassociation.mynetworth">

    <application
        android:name=".NetWorthApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view_layer.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view_layer.activities.CreateAssetActivity"
            android:parentActivityName=".view_layer.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view_layer.activities.CreateDebtActivity"
            android:parentActivityName=".view_layer.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view_layer.activities.AssetsActivity"
            android:parentActivityName=".view_layer.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view_layer.activities.DebtsActivity"
            android:parentActivityName=".view_layer.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view_layer.activities.AssetDetailsActivity"
            android:parentActivityName=".view_layer.activities.AssetsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view_layer.activities.DebtDetailsActivity"
            android:parentActivityName=".view_layer.activities.DebtsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>